<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>ERP</title>

 <link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
 
</head>
<body>
<!-- create navigation bar ( header) -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/emp}">Home</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<br>
	<br>
	<br>
 <div class="container my-2">
	<a th:href = "@{/showNewAddGradeForm}" class="btn btn-primary"> Add Marks </a><br><br>
  <table border="1" class = "table table-striped table-responsive-md">
   <thead>
    <tr>
     <th>
     <a th:href="@{'/addgradepage/' + ${currentPage} + '?sortField=stuId&sortDir=' + ${reverseSortDir}}">
     Student Id</a>
     </th>
     <th>
      <a th:href="@{'/addgradepage/' + ${currentPage} + '?sortField=acy&sortDir=' + ${reverseSortDir}}">
     Academic year</a>
     </th>
     <th>
      <a th:href="@{'/addgradepage/' + ${currentPage} + '?sortField=offeringYear&sortDir=' + ${reverseSortDir}}">
     Offering Year</a>
     </th>
     <th>
      <a th:href="@{'/addgradepage/' + ${currentPage} + '?sortField=sem&sortDir=' + ${reverseSortDir}}">
     Semester</a>
     </th>
     <th>
      <a th:href="@{'/addgradepage/' + ${currentPage} + '?sortField=courseCode&sortDir=' + ${reverseSortDir}}">
     Course Code</a>
     </th>
     <th>
      <a th:href="@{'/addgradepage/' + ${currentPage} + '?sortField=courseName&sortDir=' + ${reverseSortDir}}">
     Course Name</a></th>
     <th>
      <a th:href="@{'/addgradepage/' + ${currentPage} + '?sortField=getProStatus()&sortDir=' + ${reverseSortDir}}">
     Promotional Status</a></th>
     <th>
      <a th:href="@{'/addgradepage/' + ${currentPage} + '?sortField=credits&sortDir=' + ${reverseSortDir}}">
     Credits</a></th>
     <th>
      <a th:href="@{'/addgradepage/' + ${currentPage} + '?sortField=internalMarks&sortDir=' + ${reverseSortDir}}">
     Internal Marks</a></th>
     <th>
      <a th:href="@{'/addgradepage/' + ${currentPage} + '?sortField=exLabMarks&sortDir=' + ${reverseSortDir}}">
     External lab Marks</a></th>
     <th>
      <a th:href="@{'/addgradepage/' + ${currentPage} + '?sortField=exTheoryMarks&sortDir=' + ${reverseSortDir}}">
     External Theory Marks</a></th>
     <th>
      <a th:href="@{'/addgradepage/' + ${currentPage} + '?sortField=getExternalMarks()&sortDir=' + ${reverseSortDir}}">
     External Marks</a></th>
     <th>
      <a th:href="@{'/addgradepage/' + ${currentPage} + '?sortField=getTotalMarks()&sortDir=' + ${reverseSortDir}}">
     Total Marks</a></th>
     <th>
      <a th:href="@{'/addgradepage/' + ${currentPage} + '?sortField=getGrade()&sortDir=' + ${reverseSortDir}}">
     Grade</a></th>
     <th>
      <a th:href="@{'/addgradepage/' + ${currentPage} + '?sortField=getGradePoint()&sortDir=' + ${reverseSortDir}}">
     Grade Point</a></th>
     <th>Actions</th>
    </tr>
   </thead>
   <tbody>
    <tr th:each="grd: ${listEmployees}">
     <td th:text="${grd.stuId}"></td>
     <td th:text="${grd.acy}"></td>
     <td th:text="${grd.offeringYear}"></td>
      <td th:text="${grd.sem}"></td>
     <td th:text="${grd.courseCode}"></td>
     <td th:text="${grd.courseName}"></td>
     <td th:text="${grd.getProStatus()}"></td>
     <td th:text="${grd.credits}"></td>
     <td th:text="${grd.internalMarks}"></td>
     <td th:text="${grd.exLabMarks}"></td>
     <td th:text="${grd.exTheoryMarks}"></td>
     <td th:text="${grd.getExternalMarks()}"></td>
     <td th:text="${grd.getTotalMarks()}"></td>
     <td th:text="${grd.getGrade()}"></td>
     <td th:text="${grd.getGradePoint()}"></td>
     <td> <a th:href="@{/showFormForGradeUpdate/{id}(id=${grd.id})}" class="btn btn-primary">Update</a>
     <a th:href="@{/deleteGrade/{id}(id=${grd.id})}" class="btn btn-danger">Delete</a>
     </td>
    </tr>
   </tbody>
  </table>
 
 <div th:if = "${totalPages > 1}">
   <div class = "row col-sm-10">
    <div class = "col-sm-2">
     Total Rows: [[${totalItems}]] 
    </div>
    <div class = "col-sm-1">
     <span th:each="i: ${#numbers.sequence(1, totalPages)}">
      <a th:if="${currentPage != i}" th:href="@{'/addgradepage/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
      <span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
     </span>
    </div>
    <div class = "col-sm-1">
     <a th:if="${currentPage < totalPages}" th:href="@{'/addgradepage/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
     <span th:unless="${currentPage < totalPages}">Next</span>
    </div>
    
     <div class="col-sm-1">
        <a th:if="${currentPage < totalPages}" th:href="@{'/addgradepage/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
     <span th:unless="${currentPage < totalPages}">Last</span>
        </div>
   </div>
  </div>
 </div>
 
</body>
</html>