<!DOCTYPE html>
<html lang="en">
<head>
   <link rel="stylesheet" href="home.css">
   <link rel="stylesheet" href="../all.css">
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
   <title>ERP</title>
</head>
<body>
  <div class="menu-bar">
   <nav class="navlist">
      <ul>
         <li><h4>ERP.</h4></li>
         <li><div class="dropdown">
         <a>Register</a>
         <div class="dropdown-content">
         
          <a th:href="@{/registration}">Student</a> 
         <a th:href="@{/registration}" >Employee</a>
         <a th:href="@{/registration}">Admin</a>  </li>
         
         <li><div class="dropdown">
          <a>Login</a>
          <div class="dropdown-content">
          <a th:href="@{/login}">Student</a> 
         <a th:href="@{/login}" >Employee</a>
         <a th:href="@{/login}">Admin</a>    

  </div>
</div>

         </li>
         
       
      </ul>
   </nav>
   <div class="main-box">
    <br><br><br><br><br>
    <br><br><br><br><br>
    <br><br><br><br>
     
      <br><br><br>
      
   </div>

   <div class="container">
      <h2>KNOWLEDGE is power.</h2>

      <div class="row">
      </div>

   </div>
  
   </div>
</body>
</html>