<!DOCTYPE html>
<html lang="en">
<head>
   <link rel="stylesheet" href="home.css">
   <link rel="stylesheet" href="../all.css">
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
   <title>ERP</title>
</head>
<body>
  <div class="menu-bar">
   <nav class="navlist">
      <ul>
         <li><h4>ERP.</h4></li>
         <li><a th:href="@{/stu}">Home</a></li>

         <li><div class="dropdown">
          <a>Student</a>
          <div class="dropdown-content">
         <a th:href="@{/assignment}" >Assignment</a>
            
         <a th:href="@{/quiz}">Quizes</a>
         <a th:href="@{/stuann}">View Announcements</a>
         <a th:href="@{/search}">Courses</a>
         <a th:href="@{/grade}">Grades</a>


  </div>
</div>

         </li>
        <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
      </ul>
   </nav>
   <div class="main-box">
    <br><br><br><br><br>
    <br><br><br><br><br>
    <br><br><br><br>
      <h1 align="center">Welcome <span sec:authentication="principal.username"> User</span></h1><br><br><br>
     
      <br><br><br>
      
   </div>

   <div class="container">
      <h2>KNOWLEDGE is power.</h2>

      <div class="row">
      </div>

   </div>
  
   </div>
</body>
</html>